{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row" style="background-color: rgb(239, 239, 239);">
    <div class="container-fluid col-md-10" style="background-color: white;">
        <br>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <img src="{% static 'images/dhuicon.png' %}" class="card-img"
                        style="max-width: 100%; border-radius: 100%;">
                    <div class="card-body">
                        <div class="card-title"><strong style="font-size:xx-large;">{{name}}</strong></div>
                        <div class="card-subtitle  mb-2 text-muted">
                            题单数: {{problemlists|length}}
                        </div>
                        <div class="card-subtitle  mb-2 text-muted">
                            成员数: {{members|length}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="container-fluid">
                        <!-- 队名 -->
                        <div class="alert alert-primary pt-2 pb-2" role="alert">
                            <h3>{{ name }}</h3>
                        </div>

                        <div class="card col-12">
                            <div class="card-body">
                                <h5 class="card-title">题单
                                    {% if user.name == admin %}
                                    <a href="{% url 'problemlist:create' teamID %}" class="btn btn-primary">新建</a>
                                    {% endif %}
                                </h5>

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">题单名称</th>
                                            <th scope="col">题数</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for problemlist in problemlists %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'problemlist:detail' problemlist.listID %}"
                                                    style="text-decoration: none; color: black;">
                                                    {{problemlist.listName }}</a>
                                            </td>
                                            <td>
                                                <a href="{% url 'problemlist:detail' problemlist.listID %}"
                                                    style="text-decoration: none; color: black">
                                                    共{{problemlist.problemNumber }}题</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>


                            </div>
                        </div>

                        <div class="card col-12">
                            <div class="card-body">
                                <h5 class="card-title">成员
                                    <a href="" class="btn btn-primary">导入</a>

                                </h5>

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">用户名</th>
                                            <th scope="col">真实姓名</th>
                                            <th scope="col">专业班级</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for member in members %}
                                        <tr>
                                            <td>
                                                <a class="fw-bold"
                                                    style="color:rgb(117, 114, 114); text-decoration: none;"
                                                    href="{% url 'userprofile:profile' member.id %}">
                                                    {{ member.name }}
                                                </a>
                                            </td>
                                            <td>
                                                <a class="fw-bold"
                                                    style="color:rgb(117, 114, 114); text-decoration: none;"
                                                    href="{% url 'userprofile:profile' member.id %}">
                                                    {{ member.profile.realName }}
                                                </a>
                                            </td>
                                            <td>
                                                <a class="fw-bold"
                                                    style="color:rgb(117, 114, 114); text-decoration: none;"
                                                    href="{% url 'userprofile:profile' member.id %}">
                                                    {{ member.profile.major }}
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>



                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



{% endblock content %}