{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="row" style="background-color: rgb(239, 239, 239);">
    <div class="container-fluid col-md-8 col-sm-10" style="background-color: white;">
        <br>
        <h1>团队列表</h1>
        <hr>

        <a href="{% url 'team:team_create' %}" class="btn btn-primary">新建团队</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">团队名称</th>
                    <th scope="col">团队人数</th>
                    <th scope="col">题单数</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                <tr>
                    <td>
                        <a href="{% url 'team:detail' team.id %}"
                            style="text-decoration: none;color: black;font-size:medium;">
                            {{team.name}}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'team:detail' team.id %}"
                            style="text-decoration: none;color: black;font-size: medium;">
                            {{team.user_number}}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'team:detail' team.id %}"
                            style="text-decoration: none;color: black;font-size: medium;">
                            {{team.problemlist_number}}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>



    </div>
</div>

{% endblock content %}