{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="row" style="background-color: rgb(239, 239, 239);">
    <div class="container-fluid col-md-8 col-sm-10" style="background-color: white;">
        <br>
        <h1>团队列表</h1>
        <hr>

        <a href="#" class="btn btn-primary">新建团队</a>



        <ul class="list-group list-group-horizontal">
            <li class="list-group-item col-md-6 col-sm-6" style="color:rgb(88, 104, 247); font-weight: 600;">
                团队名称
            </li>
            <li class="list-group-item col-md-3 col-sm-3" style="color:rgb(88, 104, 247); font-weight: 600;">
                团队人数
            </li>
            <!-- <li class="list-group-item col-md-3 col-sm-3" >
                标签
            </li> -->
            <li class="list-group-item col-md-3 col-sm-3" style="color:rgb(88, 104, 247); font-weight: 600;">
                题单数
            </li>
        </ul>

        {% for team in teams %}
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item col-md-6 col-sm-6">
                <a href="{% url 'team:detail' team.id %}" style="text-decoration: none;color: black;font-size:medium;">
                    {{team.name}}
                </a>
            </li>
            <li class="list-group-item col-md-3 col-sm-3">
                <a href="{% url 'team:detail' team.id %}" style="text-decoration: none;color: black;font-size: medium;">
                    {{team.user_number}}
                </a>
            </li>
            <li class="list-group-item col-md-3 col-sm-3">
                <a href="{% url 'team:detail' team.id %}" style="text-decoration: none;color: black;font-size: medium;">
                    {{team.problemlist_number}}
                </a>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>

{% endblock content %}