{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="row">
    <div class="container-fluid col-md-8 col-sm-10">
        <br>
        <h1>Problem List</h1>
        <hr>


        <ul class="list-group list-group-horizontal">
            <li class="list-group-item col-md-2 col-sm-2">
                ID
            </li>
            <li class="list-group-item col-md-7 col-sm-7">
                标题
            </li>
            <!-- <li class="list-group-item col-md-3 col-sm-3">
                标签
            </li> -->
            <li class="list-group-item col-md-3 col-sm-3">
                难度
            </li>
        </ul>

        {% for problem in problem_info %}
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item col-md-2 col-sm-2">
                <a href="{% url 'problemset:problem' problem.problemID %}"
                    style="text-decoration: none;color: black;font-size:medium;">
                    {{problem.problemID}}
                </a>
            </li>
            <li class="list-group-item col-md-7 col-sm-7">
                <a href="{% url 'problemset:problem' problem.problemID %}"
                    style="text-decoration: none;color: black;font-size: medium;">
                    {{problem.title}}</a>
            </li>
            <!-- <li class="list-group-item col-md-3 col-sm-3">A third item</li> -->
            <li class="list-group-item col-md-3 col-sm-3">
                <div class="fw-bold">{{problem.difficulty}}</div>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>

{% endblock content %}