{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="row" style="background-color: rgb(239, 239, 239);">
    <div class="container-fluid col-md-8 col-sm-10" style="background-color: white;">
        <br>
        <h1>题目列表</h1>
        <hr>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">标题</th>
                    <th scope="col">状态</th>
                    <th scope="col">难度</th>
                </tr>
            </thead>
            <tbody>
                {% for problem in problem_info %}
                <tr>
                    <th scope="row">
                        <a href="{% url 'problemset:problem' problem.problemID %}"
                            style="text-decoration: none;color: black;font-size:medium;">
                            {{problem.problemID}}
                        </a>
                    </th>
                    <td>
                        <a href="{% url 'problemset:problem' problem.problemID %}"
                            style="text-decoration: none;color: black;font-size: medium;">
                            {{problem.title}}</a>
                    </td>
                    <td>
                        <div class="fw-bold">{{problem.difficulty}}</div>
                    </td>
                    <td>
                        <div class="fw-bold">{{problem.verdict}}</div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock content %}