{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row" style="background-color: rgb(239, 239, 239);">
    <div class="container-fluid col-md-10" style="background-color: white;">
        <br>
        <div class="row">
            <div class="col-5">
                <div class="card" style="width: 18rem;">
                    {% if profile.photo %}
                    <img src="{{ profile.photo.url }}" class="card-img" style="max-width: 100%; border-radius: 100%;">
                    {% else %}
                    <h5>暂无头像</h5>
                    {% endif %}
                    <div class="card-body">
                        <div class="card-title"><strong style="font-size:xx-large;">{{ user.username }}</strong></div>
                        <div class="card-subtitle  mb-2 text-muted">
                            {{ profile.major }}
                        </div>
                        <div class="card-text">{{ profile.email }}</div>
                        <br>
                        <a href="{% url 'userprofile:edit' user.id %}" class="btn btn-primary">修改信息</a>
                    </div>
                </div>
            </div>
            <div class="col-7">
                {% if profile.bio %}
                {{ profile.bio }}
                {% else %}
                暂无简介
                {% endif %}

            </div>
        </div>
        <div class="container-fluid pt-2 pb-2">
            <img src="{% static 'images/hotmap.png' %}" width="100%" />
        </div>
    </div>
</div>
{% endblock content %}