{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <h1>个人信息</h1>
            <hr>
            <div class="col-md-4">用户名: {{ user.username }}</div>
            <br>
            <div class="col-md-4">{{ profile.major }}</div>
            <div class="col-md-4">电子邮箱: {{ profile.email }}</div>
            <a href="{% url 'userprofile:edit' user.id %}">修改个人信息</a>
        </div>
    </div>
</div>
{% endblock content %}