<div class="container-fluid">
    <footer class="py-3 my-4 ">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home |</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About |</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Administrator
                    Entrance</a>
            </li>
        </ul>
        <p class="text-center text-muted">B431 Comprehensive Lab Building, Songjiang Campus, Donghua University</p>
        <p class="text-center text-muted">2999 North Renmin Road, Shanghai, 201620</p>
        <p class="text-center text-muted">Copyright© 2022 Donghua University ACM Lab. All Right Reserved.</p>
    </footer>
</div>